<!DOCTYPE html>
<html>
<head>
  <title>Twotter</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <form>
      <textarea name="message" v-model="message"></textarea>
      <footer>
        <p v-if="isInvalid" class="warning-message">
          The current message is either too long or too short.
        </p>
    
        <span>{{ message.length }}/255</span>
        <button type="button" :disabled="message.length" @click="message = ''">
          Clear
        </button>
        <button type="submit" :disabled="isInvalid">Send</button>
      </footer>
    </form>
  </div>

  <script>
    const app = new Vue({
      el: "#app",
      data: {
        message: "I love Twotter!"
      },
      computed: {
        isInvalid() {
          return this.message.length == 0 || this.message.length > 255;
        }
      }
    });
  </script>
</body>
</html>